---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$primary: #ebebeb;
$intermediate: #c2c2c2;
$secondary: #aaaaaa;
$background: #3b3b3c;
$on-background: #414546;

$content-width: 900px;
$content-width-mobile: 88%;
$gaps-max-size: 200px;

@import
    "mixins",
    "animations",
    "default",
    "404"
;
