[submodule "assets/vendor/spoiler-alert"]
	path = assets/vendor/spoiler-alert
	url = https://github.com/joshbuddy/spoiler-alert.git
[submodule "assets/vendor/cheet"]
	path = assets/vendor/cheet
	url = https://github.com/namuol/cheet.js.git
[submodule "assets/vendor/mathjax"]
	path = assets/vendor/mathjax
	url = https://github.com/mathjax/MathJax
[submodule "assets/vendor/highlightjs"]
	path = assets/vendor/highlightjs
	url = https://github.com/highlightjs/cdn-release
[submodule "assets/vendor/materialdesignicons"]
	path = assets/vendor/materialdesignicons
	url = https://github.com/Templarian/MaterialDesign-Webfont.git
[submodule "assets/vendor/highlightjs-line-number"]
	path = assets/vendor/highlightjs-line-number
	url = https://github.com/wcoder/highlightjs-line-numbers.js/
