<header class="grid-center">
    <div class="header">
        <div class="site-title">
            <a href="/" id="logo-text" class="logo narrow-glitch" onmouseenter="logoMouseOver(true)" onmouseleave="logoMouseOver(false)" data-text="b0rn25c4n">{{ site.title }}</a>
            <script>
            setTimeout(function() {  // Intermittently animate logo after 6s
                animateLogo(false);
                setInterval(function() {
                    animateLogo(true);
                    animateLogo(false, 1500);
                }, 6000);
            }, 6000);

            function animateLogo(yn, delay) {
                if (delay) {
                    setTimeout(function() { animateLogo(yn) }, delay);
                    return;
                }
                const logoElement = document.getElementById('logo-text');
                if (yn) {
                    logoElement.classList.add('narrow-glitch');
                } else {
                    if (logoElement.dataset.mouseover == undefined) {
                        logoElement.classList.remove('narrow-glitch');
                    }
                }
            }

            function logoMouseOver(yn) {
                const logoElement = document.getElementById('logo-text');
                if (yn) {
                    logoElement.dataset.mouseover = "";
                } else {
                    delete logoElement.dataset.mouseover;
                }
                animateLogo(yn, yn ? null : 500);
            }
            </script>
        </div>

        <div class="site-navbar">
            <ul class="menu">
                <li class="menu__entry{% if page.title == 'About' %} menu__selected{% endif %}"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
                <li class="menu__entry{% if page.title == 'Writeups' or page.categories contains 'writeups' %} menu__selected{% endif %}"><a href="{{ '/' | prepend: site.baseurl }}">Writeups</a></li>
                <li class="menu__entry{% if page.title == 'Articles' or page.categories contains 'articles' %} menu__selected{% endif %}"><a href="{{ '/articles' | prepend: site.baseurl }}">Articles</a></li>
                <li class="menu__entry{% if page.title == 'Events' %} menu__selected{% endif %}"><a href="{{ '/events' | prepend: site.baseurl }}">Events</a></li>
            </ul>

            <div class="social-links">
                {% if site.author.github %}
                    <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                        <span class="mdi mdi-github" ></span>
                    </a>
                {% endif %}

                <a href="https://twitter.com/born2scan_it" class="social-links__entry" target="_blank">
                    <span class="mdi mdi-twitter" ></span>
                </a>
                <a href="https://infosec.exchange/@born2scan" class="social-links__entry" target="_blank" rel="me">
                    <span class="mdi mdi-mastodon" ></span>
                </a>
                <a href="https://www.linkedin.com/company/born2scan" class="social-links__entry" target="_blank">
                    <span class="mdi mdi-linkedin" ></span>
                </a>

                <a href="/feed.xml" class="social-links__entry" target="_blank">
                    <span class="mdi mdi-rss" ></span>
                </a>
            </div>
        </div>

        <span class="mobile-header-divider"></span>
    </div>
</header>