$mdi-font-path: "/assets/vendor/materialdesignicons/fonts";
@import "../assets/vendor/materialdesignicons/scss/materialdesignicons.scss";

/* =Base */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', ;
    color: $primary;
    background-color: $background;
}

a {
    color: $intermediate;
    font-weight: bold;
    text-decoration: underline;
}

p, li {
    font-size: 1.25rem;
    line-height: 32px;
}

span.mdi {
    font-size: 1.45rem;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

th, td {
    padding: 5px;
}

blockquote {
    letter-spacing: 3px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
    text-align: center;
    position: relative;
    overflow-wrap: break-word;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $secondary;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 1.25em;
        color: $intermediate;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $secondary;
}

/* =Wrapper */
.wrapper {
    display: flex;
    flex-flow: column;
    padding: 64px 0 80px;

    /* =Header */
    .header {
        overflow: hidden;

        .navigation {
            float:left;
        }

        .social-links {
            float:right;
            font-size: 32px;
            color: $intermediate;
            list-style-type: none;
        }
        .social-links__entry {
            display: inline-block;
            font-size: inherit;

            &:not(:first-child) {
                margin-left: 10px;
            }

            span.mdi {
                font-size: inherit;
            }
        }
    }

    .grid-center {
        display: grid;
        grid-template-areas: "gaps centered";
        grid-template-columns: auto $content-width auto;

        & > div {
            grid-area: centered;
        }
    }

    .content-head {
        background-color: $background;
        box-shadow: 0px 7px 12px -7px #2a2a2a;
        z-index: 10;
        padding-bottom: 10px;
        margin-top: -30px;

        /* Set min height to always display shadow, even when div is empty*/
        min-height: 1rem;

        .head-message {
            margin-bottom: 50px;
            margin-top: 0px;
        }

        .categories-index {
            font-size: 1.4rem;
        }
    }

    .content-page, .content-post {
        background-color: $on-background;
        padding-top: 25px;
        padding-bottom: 55px;

        hr {
            margin: 55px 0;
        }

        .content {
            font-size: 16px;
        }
    }

    /* =Post page */
    .content-post {
        /* Challenge name in posts */
        h2 {
            display: list-item;
            list-style-position: inside;
            list-style-type: disc;
        }
    }

    /* =Index */
    .list-years {
        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: ',';
            }
        }

        text-align: center;
        padding-left: 0px;
        list-style-type: none;
        font-size: 20px;
    }

    /* =Titles */
    .page-title {
        margin-top:100px;
        margin-bottom:125px;
        text-align: center;

        .page-title__text {
            font-weight: 700;
            font-size: 70px;
        }

        .page-title__subtitle {
            font-weight: 400;
            font-size: 22px;
            color: $intermediate;
        }
    }

    .post-title {
        margin-bottom: 80px;

        .post-title__text {
            font-size: 40px;
        }

        .post-title__subtitle {
            font-size: 20px;
        }
    }

    /* =Post teasers */
    .list-posts {
        list-style-type: none;
        padding: 0px;

        .post-teaser-title {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;

            .year-divider {
                width: 130px;
                height: 2px;
                margin: 0 15px;

                &.year-divider-left {
                    background: linear-gradient(to left, white 15%, transparent);
                }
                &.year-divider-right {
                    background: linear-gradient(to right, white 15%, transparent);
                }
            }
        }

        .post-teaser {
            margin-bottom: 35px;
            font-weight: 700;

            .post-teaser__title {
                font-size: 22px;
                color: $secondary;
            }

            .post-teaser__title a {
                color: $secondary;
            }

            .post-teaser__date {
                font-size: 16px;
                float: right;
                vertical-align: middle;
                color: $intermediate;
            }
        }
    }

    .empty-post-list {
        font-size: 22px;
        font-weight: 700;
        color: $secondary;
        text-align: center;
    }

    /* =Explore section of pages */
    .explore {
        text-align: center;
        color: $intermediate;
        padding-top: 70px;
        box-shadow: 0px -7px 12px -7px #2a2a2a;

        .explore__label {
            font-size: 18px;
        }
    }

    /* =About section of posts */
    .about {
        color: $intermediate;
        padding-top: 70px;
        text-align: center;
        line-height: 24px;
        box-shadow: 0px -7px 12px -7px #2a2a2a;

        .about__text {
            font-size: 18px;
        }
    }

    .team-logo {
        margin: auto;
        padding: 30px 0 20px;

        filter: drop-shadow(0px 0px 40px #a2a2a26f);
        margin-top: -50px;
    }
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $intermediate;
    display: block;
}

.menu {
    color: $intermediate;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;

    .menu__entry {
        display: inline-block;
        font-size: 20px;

        &:not(:last-child)::after {
            content: ' / ';
        }
    }

    .menu__entry a {
        font-weight: 400;
    }
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;

    .categories__item {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
    }

    .categories__item a {
        color: $secondary;
    }

    .categories__item:after {
        content: "/";
        margin-left: 6px;
        color: $intermediate;
    }

    .categories__item:last-child:after {
        content: "";
        margin-left: 0px;
    }
}


/* Mathjax formulae */
mjx-container[jax="CHTML"] {
    background-color: rgba(128,128,128,0.7);
    padding: 6px 6px 8px 6px;
    border-radius: 6px;
}
mjx-container[jax="CHTML"][display="true"] {
    font-size: 140% !important;
    display: inline-block !important;
    margin: 0.5em 0 !important;
}

/* Code Blocks */
pre {
    tab-size: 4;

    code {
        border-radius: 5px;
    }
}
code:not(.hljs) {
    background-color: rgb(80,80,80);
    padding: 3px;
    border-radius: 0.2em;
    font-size: 1rem;
}


@media (max-width: $content-width+200) {
    /* =Base */
    p, li {
        font-size: 16px;
        line-height: 1.6;
    }

    img {
        margin: 30px auto;
    }

    .wrapper {
        .content-page, .content-post {
            .content {
                width: $content-width-mobile;
                margin: auto;
                font-size: 14px;
            }
        }

        .grid-center {
            display: flex;
            justify-content: center;
        }

        .page-title {
            margin-top: 80px;
            margin-bottom: 60px;

            .page-title__text {
                font-size: 40px;
            }

            .page-title__subtitle {
                font-size: 18px;
            }
        }

        .list-posts {
            .post-teaser {
                margin-bottom: 25px;

                .post-teaser__title {
                    font-size: 18px;
                    @include centered-block();
                }

                .post-teaser__date {
                    font-size: 16px;
                    float: none;
                    @include centered-block();
                }
            }
        }

        .navigation,
        .social-links {
            @include centered-block();
        }

        .social-links {
            font-size: 30px;
            margin-top: 35px;
        }

        .post-title {
            .post-title__text {
                font-size: 28px;
            }

            .post-title__subtitle {
                font-size: 18px;
            }
        }

        .team-logo {
            margin: 10px 0 10px;
        }

        .explore {
            .explore__label {
                font-size: 16px;
            }
        }

        .about__text, .explore__label {
            width: $content-width-mobile;
            margin: auto;
        }
    }

    code:not(.hljs) {
        font-size: 0.86rem;
    }
}


/* Custom anchor_links style
* http://blog.parkermoore.de/2014/08/01/header-anchor-links-in-vanilla-javascript-for-github-pages-and-jekyll/
*/
.header-link {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;

    transition: opacity 0.2s ease-in-out 0.15s;
    -webkit-transition: opacity 0.2s ease-in-out 0.15s;
    -moz-transition: opacity 0.2s ease-in-out 0.15s;
    -ms-transition: opacity 0.2s ease-in-out 0.15s;
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link {
    opacity: 1;
}


.spoiler {
    overflow-wrap: break-word;
}


/* Custom style for categories index */
.align-center {
    display: block;
    text-align: center;
}


/* Custom style for post images */
.image-full {
    width: 100%;
    height: auto;
}

span.mdi.mdi-spin-on-hover:hover {
    &:before {
        -webkit-animation: mdi-spin 1s 1 cubic-bezier(.51,-0.55,0,.43);
        animation: mdi-spin 1s 1 cubic-bezier(.51,-0.55,0,.43);
    }
}
