$mdi-font-path: "/assets/vendor/materialdesignicons/fonts";
@import "../assets/vendor/materialdesignicons/scss/materialdesignicons.scss";

/* =Base */
html {
    /* For tocUpdateStatus() to work on chrome, auto is required */
    scroll-behavior: auto;
}

:root {
    color-scheme: light dark;
}

body {
    font-family: 'Inconsolata', ;
    color: $primary;
    background-color: $background;
}

a {
    color: $intermediate;
    font-weight: bold;
    text-decoration: underline;
}

p, li {
    font-size: 1.25rem;
    line-height: 32px;
}

span.mdi {
    font-size: 1.45rem;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

th, td {
    padding: 5px;
}

blockquote {
    letter-spacing: 3px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
    text-align: center;
    position: relative;
    overflow-wrap: break-word;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $secondary;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 1.25em;
        color: $intermediate;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $secondary;
}

/* =Wrapper */
.wrapper {
    display: flex;
    flex-flow: column;
    padding: 64px 0 80px;

    /* =Header */
    .header {
        overflow: hidden;

        .navigation {
            float:left;
        }

        .social-links {
            float:right;
            font-size: 32px;
            color: $intermediate;
            list-style-type: none;
        }
        .social-links__entry {
            display: inline-block;
            font-size: inherit;

            &:not(:first-child) {
                margin-left: 10px;
            }

            span.mdi {
                font-size: inherit;
            }
        }
    }

    .grid-center {
        display: grid;
        grid-template-areas: "gaps centered";
        grid-template-columns: 1fr $content-width 1fr;

        &.content-post {
            grid-template-areas: "gaps centered toc";
        }

        & > div {
            grid-area: centered;
        }
    }

    .content-head {
        background-color: $background;
        box-shadow: 0px 7px 12px -7px #2a2a2a;
        z-index: 10;
        padding-bottom: 10px;
        margin-top: -30px;

        /* Set min height to always display shadow, even when div is empty*/
        min-height: 1rem;

        .head-message {
            margin-bottom: 50px;
            margin-top: 0px;
        }

        .categories-index {
            font-size: 1.4rem;
        }
    }

    .content-page, .content-post {
        background-color: $on-background;
        padding-top: 25px;
        padding-bottom: 55px;

        hr {
            margin: 55px 0 45px;
        }

        .content {
            font-size: 16px;
            overflow: hidden;
        }
    }

    /* =Post page */
    .content-post {
        /* padding at top of page when clicking on referal anchors */
        h1 {
            padding-top: 15px;
        }
        h2 {
            padding-top: 10px;
        }

        /* Challenge name in posts */
        h2 {
            display: list-item;
            list-style-position: inside;
            list-style-type: disc;
        }
    }

    /* =Index */
    .list-years {
        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: ',';
            }
        }

        text-align: center;
        padding-left: 0px;
        list-style-type: none;
        font-size: 20px;
    }

    /* =Titles */
    .page-title {
        margin-top:100px;
        margin-bottom:125px;
        text-align: center;

        .page-title__text {
            font-weight: 700;
            font-size: 70px;
        }

        .page-title__subtitle {
            font-weight: 400;
            font-size: 22px;
            color: $intermediate;
        }
    }

    .post-title {
        margin-bottom: 80px;

        .post-title__text {
            font-size: 40px;
        }

        .post-title__subtitle {
            font-size: 20px;
        }
    }

    /* =Post teasers */
    .list-posts {
        list-style-type: none;
        padding: 0px;

        .post-teaser-title {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;

            .year-divider {
                width: 130px;
                height: 2px;
                margin: 0 15px;

                &.year-divider-left {
                    background: linear-gradient(to left, white 15%, transparent);
                }
                &.year-divider-right {
                    background: linear-gradient(to right, white 15%, transparent);
                }
            }
        }

        .post-teaser {
            margin-bottom: 35px;
            font-weight: 700;

            .post-teaser__title {
                font-size: 22px;
                color: $secondary;
            }

            .post-teaser__title a {
                color: $secondary;
            }

            .post-teaser__date {
                font-size: 16px;
                float: right;
                vertical-align: middle;
                color: $intermediate;
            }

            .post-teaser__subtitle {
                font-size: 18px;
                color: $intermediate;
            }
        }
    }

    .empty-post-list {
        font-size: 22px;
        font-weight: 700;
        color: $secondary;
        text-align: center;
    }

    /* =Explore section of pages */
    .explore {
        text-align: center;
        color: $intermediate;
        padding-top: 70px;
        box-shadow: 0px -7px 12px -7px #2a2a2a;

        .explore__label {
            font-size: 1.1rem;
        }
    }

    /* =About section of posts */
    .about {
        color: $intermediate;
        padding-top: 70px;
        text-align: center;
        line-height: 24px;
        box-shadow: 0px -7px 12px -7px #2a2a2a;

        .about__text {
            font-size: 1.1rem;
        }
    }

    .team-logo {
        margin: auto;
        padding: 30px 0 20px;

        filter: drop-shadow(0px 0px 40px #a2a2a26f);
        margin-top: -50px;
    }

    /* =Nav TOC */
    div#toc {
        grid-area: toc;
        position: relative;

        nav {
            position: sticky;
            top: 0px;
            overflow-wrap: anywhere;
            display: block;
            margin-top: 0;
            padding: 20px 20px 20px 40px;
            /* make toc sidebar independently scrollable, for when it's very long */
            overflow-y: scroll;
            height: calc(100vh - 40px);
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }

            /* remove strange padding on the top of the toc list */
            & > ul.nav {
                margin-top: 0;
            }

            .nav > li > a {
                display: block;
                padding: 4px 20px;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
            }

            .nav .nav > li > a {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 30px;
                font-size: 18px;
                font-weight: normal;
            }
        }

        .nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .nav a {
            opacity: 0.6;
            transition: opacity 0.18s ease-in-out;

            &:hover {
                opacity: 1 !important;
                transition: opacity 0.12s ease-in-out;
                text-decoration: underline dotted;
            }
        }
        .nav a.toc-element-active {
            opacity: 1;
        }
    }
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $intermediate;
    display: block;
    text-decoration: none;
}

.menu {
    color: $intermediate;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;

    .menu__entry {
        display: inline-block;
        font-size: 20px;

        &:not(:last-child)::after {
            content: ' / ';
        }

        &.menu__selected a {
            text-decoration: underline;
        }
    }

    .menu__entry a {
        font-weight: 400;
        text-decoration: none;
    }
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;

    .categories__item {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
    }

    .categories__item a {
        color: $secondary;
    }

    .categories__item:after {
        content: "/";
        margin-left: 6px;
        color: $intermediate;
    }

    .categories__item:last-child:after {
        content: "";
        margin-left: 0px;
    }
}


/* Mathjax formulae */
mjx-container[jax="CHTML"] {
    background-color: rgba(128,128,128,0.7);
    padding-top: 5px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 6px;
    overflow: auto;
}
mjx-container[jax="CHTML"][display="true"] {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 140% !important;
    display: inline-block !important;
    margin: 0.5em 0 !important;
    overflow: auto;
    max-width: calc(100% - (6px * 2)); /* minus padding set above for mjx-container */
}

/* Code Blocks */
pre {
    tab-size: 4;

    code {
        border-radius: 5px;
    }
}
code:not(.hljs) {
    background-color: rgb(80,80,80);
    padding: 3px;
    border-radius: 0.2em;
    font-size: 1rem;
}
// pre tags inside li take the relative size from the li instead of the .wrapper - correct this
li pre {
    font-size: 16px;
}

/* hide TOC if there's not enough space */
@media (max-width: $content-width+($gaps-max-size)+($toc-min-width)) {
    div#toc {
        display: none;
    }
}

@media (max-width: $content-width+($gaps-max-size)) {
    /* =Base */
    p, li {
        font-size: 16px;
        line-height: 1.6;
    }

    img {
        margin: 30px auto;
    }

    .wrapper {
        .content-head, .content-page, .content-post {
            .content {
                width: $content-width-mobile;
                margin: auto;
                font-size: 14px;
            }
        }

        .grid-center {
            display: flex;
            justify-content: center;
        }

        .page-title {
            margin-top: 80px;
            margin-bottom: 60px;

            .page-title__text {
                font-size: 40px;
            }

            .page-title__subtitle {
                font-size: 18px;
            }
        }

        .list-posts {
            .post-teaser {
                margin-bottom: 25px;

                .post-teaser__title {
                    font-size: 19px;
                    @include centered-block();
                }

                .post-teaser__date {
                    font-size: 15px;
                    float: none;
                    @include centered-block();
                }

                .post-teaser__subtitle {
                    font-size: 12px;
                    @include centered-block();
                }

            }
        }

        .navigation,
        .social-links {
            @include centered-block();
        }

        .social-links {
            font-size: 30px;
            margin-top: 35px;
        }

        .post-title {
            .post-title__text {
                font-size: 28px;
            }

            .post-title__subtitle {
                font-size: 18px;
            }
        }

        .team-logo {
            margin: 10px auto 10px;
        }

        .explore {
            .explore__label {
                font-size: 16px;
            }
        }

        .about__text, .explore__label {
            width: $content-width-mobile;
            margin: auto;
        }

        div#toc {
            display: none;
        }
    }

    // pre tags inside li take the relative size from the li instead of the .wrapper - correct this
    li pre {
        font-size: 14px;
    }
    code:not(.hljs) {
        font-size: 0.86rem;
    }
}

details > summary:first-of-type {
    display: list-item
}

details[open] > summary:first-of-type {
    margin-bottom: 0.5em;
}

/* Custom anchor_links style
* http://blog.parkermoore.de/2014/08/01/header-anchor-links-in-vanilla-javascript-for-github-pages-and-jekyll/
*/
.header-link {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;

    transition: opacity 0.2s ease-in-out 0.15s;
    -webkit-transition: opacity 0.2s ease-in-out 0.15s;
    -moz-transition: opacity 0.2s ease-in-out 0.15s;
    -ms-transition: opacity 0.2s ease-in-out 0.15s;
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link {
    opacity: 1;
}


.spoiler {
    overflow-wrap: break-word;
}


/* Custom style for categories index */
.align-center {
    display: block;
    text-align: center;
}


/* Custom style for post images */
img.image-100 {
    width: 100%;
    height: auto;
}

img.image-66 {
    max-width: 66%;
}

img.image-50 {
    max-width: 50%;
}

img.image-33 {
    max-width: 33%;
}

img.image-25 {
    max-width: 25%;
}

span.mdi.mdi-spin-on-hover:hover {
    &:before {
        -webkit-animation: mdi-spin 1s 1 cubic-bezier(.51,-0.55,0,.43);
        animation: mdi-spin 1s 1 cubic-bezier(.51,-0.55,0,.43);
    }
}

pre.linenumber > code {
    padding: 0.5em 0;

    .hljs-ln tr td.hljs-ln-numbers {
        padding-left: 0.5em;
    }
}

// custom filename in code blocks
pre > span.hljs.codeblock-tag {
    margin: 0;
    padding: 6px 0px 2px 12px;
    display: block;

    span {
        background-color: whitesmoke;
        color: black;
        padding: 6px 12px 2px;
        border-radius: 0 0 10px 10px;
    }
}

/* hljs-linenumbers-js for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 3px !important;
    background-color: #676767;
}

/* hljs-linenumbers-js for block of code */
.hljs-ln-code {
    padding-left: 9px !important;
}
