---
layout: default
---
{% include post/title.html %}


<div class="content-center content-head">
    <div class="content align-center">

        {%- if page.head_message -%}
            <p class="head-message">{{ page.head_message }}</p>
        {%- endif -%}

        {% if page.head_ctf_categories %}
            <p class="categories-index" id="categories-index">
                <b>Categories index</b>
                <br>
                {%- for category in page.head_ctf_categories -%}
                    <a href="#{{ category | downcase }}">{{ category | capitalize }}</a>{% unless forloop.last %} - {% endunless %}
                {%- endfor -%}
            </p>
        {% endif %}

    </div>
</div>

<div class="content-center content-post">
    <div class="content">
        {{ content }}
    </div>
</div>

{% include mixins/code_blocks.html %}

{% include externals/anchor_links.html %}

{% include externals/spoilers.html %}

{% include externals/mathjax.html %}

{% include post/about.html %}
