---
layout: default
---

{% include post/title.html %}

<div class="grid-center content-head">
    <div class="content align-center">

        {% if page.head_message -%}
            <p class="head-message">{{ page.head_message }}</p>
        {%- endif -%}

        {% if page.author %}
        {% comment %} Use the date of the post to balance the author text on the opposite side {% endcomment %}
            <div style="display: flex; justify-content: space-between;">
                <p class="head-message" style="display: inline-block;">Author: {{ page.author }}</p>
                <p class="head-message" style="display: inline-block;">Date: {{ page.date | date: "%-d %B %Y" }}</p>
            </div>
        {%- endif -%}

        {% if page.head_ctf_categories -%}
            <p class="categories-index" id="categories-index">
                <b>Categories index</b>
                <br>
                {%- for category in page.head_ctf_categories -%}
                    <a href="#{{ category | remove: '/' | downcase }}">{{ category | capitalize }}</a>{% unless forloop.last %} - {% endunless %}
                {%- endfor -%}
            </p>
        {%- endif %}

    </div>
</div>

<div class="grid-center content-post">
    <div class="content">
        {{ content }}
    </div>

    <div id="toc">
        <nav>
            <ul class="nav">
            </ul>
        </nav>
    </div>
</div>

{% include mixins/code_blocks.html %}

{% include externals/anchor_links.html %}

{% include externals/toc.html %}

{% include externals/spoilers.html %}

{% include externals/mathjax.html %}

{% include post/about.html %}
